@*************************************
 * Cliente                           *
 *************************************@

@header("Cliente") { }

@main("Welcome to Play") {

    @helper.form(action = routes.ClientController.cadastrar()) {
    <div class="container">
        <div class="row-fluid">
            <form class="form-horizontal">
                <fieldset>
                    <div id="legend">
                        <legend>Cadastrar cliente</legend>
                    </div>

                    <!-- Name -->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="nome">Nome</label>
                        <div class="controls col-sm-10">
                            <input type="text" id="nome" name="nome" placeholder="Informe o Nome" class="form-control">
                        </div>
                    </div>

                    <!-- CPF -->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="cpf">CPF</label>
                        <div class="controls col-sm-4">
                            <input type="text" id="cpf" name="cpf" placeholder="Informe o CPF" class="form-control">
                        </div>
                    </div>

                    <!-- CNPJ -->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="cnpj">CNPJ</label>
                        <div class="controls col-sm-4">
                            <input type="text" id="cnpj" name="cnpj" placeholder="Informe o CNPJ" class="form-control">
                        </div>
                    </div>

                    <!-- Endereco -->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="endereco">Endereço</label>
                        <div class="controls col-sm-10">
                            <input type="text" id="endereco" name="endereco" placeholder="Informe o Endereço" class="form-control">
                        </div>
                    </div>

                    <!-- Cartao de Credito -->
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="">Cartão Créd.</label>
                        <div class="controls col-sm-4">
                            <input type="text" id="cartaoCredito" name="cartaoCredito" placeholder="Informe o Cartão de Crédito" class="form-control">
                        </div>
                    </div>

                    <!-- Submit -->
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Cadastrar</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    }

}
