@*************************************
 * Home page.                        *
 *                                   *
 * @param msg The message to display *
 *************************************@

@header("Home") { }

@main("Welcome to Play") {

    <p>Projeto interdisciplinar do curso de Análise e Desenvolvimento de Sistemas da Anhembi Morumbi.</p>

    @*
  <ul id="persons"></ul>
  <form method="POST" action="@routes.User.addPerson()">
      <input type="text" name="name" class="form-control">
      <button class="btn btn-success">Add Person</button>
  </form>
  <a href="@routes.User.getJson()"><h2>View All Users</h2></a>
  *@

}
