@*************************************
 * Home page.                        *
 *                                   *
 * @param msg The message to display *
 *
 *
 *
 *
 *
 * https://github.com/boaglio/play2-casadocodigo/
 * https://github.com/eagle2088/playframework
 * https://github.com/dt0416/playframework
 * https://github.com/igu1981/PlayFramework
 * https://github.com/whereIsMyDipp/Tutorials/tree/master/Blog
 *************************************@

@header("Home") { }

@main("Welcome to Play") {

    <p>Projeto interdisciplinar do curso de Análise e Desenvolvimento de Sistemas da Anhembi Morumbi.</p>

    <p>Olá professor. O código deste projeto está disponível para análise no reposítório <a href="https://github.com/andreleite/progweb">https://github.com/andreleite/progweb</a></p>

    @*
  <ul id="persons"></ul>
  <form method="POST" action="@routes.User.addPerson()">
      <input type="text" name="name" class="form-control">
      <button class="btn btn-success">Add Person</button>
  </form>
  <a href="@routes.User.getJson()"><h2>View All Users</h2></a>
  *@

}
