@(title: String)(content: Html)

<div id="wrapper">
    <!-- Page Content -->
    <div id="page-content-wrapper" class="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    @content
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->


    <script src="@routes.Assets.at("javascripts/index.js")" type="text/javascript"></script>
  </body>
</html>
