@(form: Form[LoginController.Login])


@*************************************
 * Login                             *
 *                                   *
 *************************************@

@head("Login")

@helper.form(routes.LoginController.authenticate) {
<div class="login">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Acessar o sistema</h3>
      </div>
      <div class="panel-body">
        <form accept-charset="UTF-8" role="form">

            @if(form.hasGlobalErrors) {
                <p class="error">
                    @form.globalError.message
                </p>
            }

          <fieldset>
            <div class="form-group">
              <input class="form-control" placeholder="E-mail" name="email" type="text" autofocus value="@form("email").value">
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Password" name="password" type="password" value="">
            </div>
            <input class="btn btn-lg btn-success btn-block" type="submit" value="Entrar">
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
}

@foot()
